<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="A curated resource for designers working on the web">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Styles -->
    <link href="css/build/main.min.css" rel="stylesheet">
    <!-- End Styles -->
</head>