/*
 * Content Container
 */
.container {
	margin: 0 auto;
	padding: 0 $base-spacing;

	@include media(">=xlarge") {
		padding: 0 $base-spacing;
	}

	/* Modifiers */
	&--med {
		max-width: map-get($breakpoints, medium);
	}

	&--lrg {
		max-width: map-get($breakpoints, large);
	}
}