// Breakpoints
$breakpoints: (
  small: 30em,
  medium: 45em,
  large: 64em,
  xlarge: 80em,
  xxlarge: 160em
);


// Animation Settings
$transition-duration: .3s;
$transition-timing: $ease-in-out-quad;


// Z-Index Management
$elements: site, header, nav;


// Font Sizes
$base-font-size: $ms-base;


// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;


// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;


// Colors
$red: #C93312;
$blue: #2E3831;
$beige: #FAEFD1;
$gold: #CBB345;
$off-white: #FCF5E3;


// Background Color
$base-background-color: $off-white;


// Font Colors
$base-font-color: $blue;
$base-accent-color: $red;


// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 10%);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;


// Border color
$base-border-color: $blue;
$base-border: 1px solid $base-border-color;
