*,
*:after,
*:before {
  box-sizing: border-box;
}

/*
 * Set background on document elelment
 */
html {
	background-color: $base-background-color;
}


/*
 * Set States for Media Query Detection in JS
 */
body:after {
    display: none;
    content: 'small';

    @include mq(medium) {
        content: 'medium';
    }

    @include mq(large) {
        content: 'large';
    }

}


/*
 * Enable fluid images
 */
img,
picture {
  margin: 0;
  max-width: 100%;
}


/*
 * Enable fluid images
 */
iframe {
    margin: 0 0 $base-spacing;
}


/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $base-border-color;
    margin: 0 0 $base-spacing;
}

