body {
  @include font-feature-settings("kern","liga","frac", "pnum");
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $header-line-height;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: ms(5);
  margin: 0 0 $base-spacing;
}

h2 {
  font-size: ms(4);
  margin: 0 0 $base-spacing/1.5;
}

h3 {
  font-size: ms(2);
  margin: 0 0 $base-spacing/2;
}

h4 {
  font-size: ms(1);
  margin: 0 0 $base-spacing/3;
}

h5 {
  font-size: ms(0);
  margin: 0 0 $base-spacing/4;
}

h6 {
  font-size: ms(-1);
}

p {
  margin: 0 0 ($base-spacing);
}

a {
  @include transition(color);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active,
  &:focus {
    color: $hover-link-color;
    outline: none;
  }

  /* Style Modifiers */
  &.link-subdue {
    color: $base-font-color;
  }

}

blockquote {
  border-left: 3px solid $base-accent-color;
  margin: $base-spacing 0;
  padding: 0 0 0 $base-spacing;
  font-size: ms(2);

  @include media('>=large') {
    margin: $base-spacing*2 0;
  }

  p {
    margin: 0 0 $base-spacing/3;
  }

  footer {
    @extend %type--sml;
    display: block;
    font-size: ms(-3);
    text-transform: uppercase;
    letter-spacing: 0.04em;

    &:before {
      content: "— ";
    }

  }
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}


/*
 * Text Helper Classes
 */
.text-meta {
  font-size: ms(-2);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: $base-line-height*1.5;

  em {
    font-style: normal;
    color: $base-accent-color;
  }
}

.text-emphasis {
  font-size: ms(1);

  @include media(">=small") {
    font-size: ms(2);
  }
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-flush {
  margin: 0;
}
